@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
:root,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'inter';
}

body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
}
